*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}
.menu a{
    color: #2d3436;
}
.menu>li{
    float: right;
    width: 25%;
    text-align: center;
    background-color: #00b894;
    padding: 10px;
    font-size: 16px;
    transition: .4s;
}

.boa:hover .box{
    height: 20opx;
}

.box{
    height: 0px;
    overflow: hidden;
    transition: .5s;
    left: 20px;
    background-color: transparent;
}

.box li{
    height: 40px;
    text-align: center;
    line-height: 46px;
    font-size: 15px;
    
}

.clearfix:after{
    content: '';
    display: block;
    clear: both;
}